@model IEnumerable<Book>

<h2>Kitap Listesi</h2>

<a asp-controller="Book" asp-action="Create" class="btn btn-primary">Kitap Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 10px;">@Html.DisplayNameFor(m=>m.Id)</th>
            <th>@Html.DisplayNameFor(m=>m.Title)</th>
            <th>@Html.DisplayNameFor(m=>m.Author)</th>
            <th>@Html.DisplayNameFor(m=>m.PublishYear)</th>
            <th>@Html.DisplayNameFor(m=>m.Category)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in Model){
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.PublishYear)</td>
                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                <td>
                    <a asp-asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Details</a>
                    <a asp-asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
